:root {
    --blue: rgba(63, 140, 255, 1);
    --blue-hover: #76ADFF;
    --green: #4FE109;
    --green-hover: #7EEB4B;
    --pink: rgba(255, 63, 132, 1);
    --pink-hover: #F276A3;
    --shadow:0px 5px 10px rgba(24, 46, 79, 0.11);
}

*{
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    height: 100vh;
    margin: 0;
    background: #fafafa;
}

a{
    color: var(--primary);
    text-decoration: none;
}

.line{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    &_block{
        display: block;
    }
}

.h1, h2, h3, h4, h5, h6{
    font-family: 'Comfortaa', sans-serif;
}

.diskript, p, input{
    font-family: 'Comfortaa', sans-serif;
    font-size: 20px;
}